<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkLjsVaNebqfiajDXY9eK56AfD2iRvf0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>946451723517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coresdktest</string>
	<key>PROJECT_ID</key>
	<string>adapt-or-die</string>
	<key>STORAGE_BUCKET</key>
	<string>adapt-or-die.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946451723517:ios:e1d9a39005c22a6f6efa94</string>
</dict>
</plist>